
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Documentation - 404 Not Found</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/docs.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Wrap all page content here -->
<div id="wrap">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/api/docs/">Documentation</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about/">About</a></li>

                </ul>

                <form class="navbar-form navbar-right" method="post" role="search" action="/api/docs/search/">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter operation name">
                    </div>
                    <button type="submit" class="btn btn-default"> <span class="glyphicon glyphicon-search"></span> Search</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Modules <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Module 1</a></li>
                            <li><a href="#">Module 2</a></li>
                            <li><a href="#">Module 3</a></li>
                        </ul>
                    </li>
                </ul>


            </div><!--/.nav-collapse -->
        </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1 class="error-header">404 - Page Not Found</h1>
        </div>
        <p class="lead">
        <div class="alert alert-danger">The page you are trying to view is not available.</div>
            </p>
        <p>Back to main <a href="/">documentation</a> page.</p>

    </div>
</div>

<div id="footer">
    <div class="container">
        <p class="text-muted credit">Developed and Designed by <a href="https://eoanlabs.com">Reynold Lariza</a></p>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/javascripts/jquery-2.0.3.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
