<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/error.css' />
  </head>
  <body>
    <h3>404 Not Found</h3>
    <p>Could not locate resource</p>
  </body>
</html>