<!DOCTYPE html>
<html lang="en">
<head>
    <%- include header.ejs %>
</head>

<body>

<!-- Wrap all page content here -->
<div id="wrap">

    <!-- Fixed navbar -->
    <%- include navbar.ejs %>

    <!-- Begin page content -->
    <div class="container">

        <!-- Begin page content -->
        <div class="container">
            <div class="page-header">
                <h1>About</h1>
            </div>
            <p>
                This documentation was developed and designed by Reynold. It uses bootstrap for its user interface.
            </p>



        </div>
        </div>
</div>
<%- include footer.ejs %>
</body>
</html>
