<div id="footer">
    <div class="container">
        <p class="text-muted credit">Developed and Designed by <a href="https://eoanlabs.com">Reynold Lariza</a></p>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/javascripts/jquery-2.0.3.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
