<div id="footer">
    <div class="container">
        <p class="text-muted credit">Developed and Designed by <a href="<%=data.cfg._DEVELOPED_URL_BY_%>"><%=data.cfg._DEVELOPED_BY_%></a></p>
    </div>
</div>


